.judul{
    text-align: center;
    margin: 25px 0;
}
.container{
    margin-top: 50px;
}
.formlogin{
    /* background: #6f42c1; */
    /* border: none; */
    border: 2px solid #6f42c1;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.buttonlogin{
    background: #6f42c1 ;
    color: white;
}